Application/UzmanCrm.CrmService.Application/Connected Services/DigitalServiceGdpr/OtpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OtpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IOtpService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gdpr.dijitalizin.com/OtpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gdpr.dijitalizin.com/OtpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gdpr.dijitalizin.com/OtpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer.Entites" />
      <xsd:import schemaLocation="http://gdpr.dijitalizin.com/OtpService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOtpService_SendOtp_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOtp" />
  </wsdl:message>
  <wsdl:message name="IOtpService_SendOtp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOtpResponse" />
  </wsdl:message>
  <wsdl:message name="IOtpService_CheckOtp_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOtp" />
  </wsdl:message>
  <wsdl:message name="IOtpService_CheckOtp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOtpResponse" />
  </wsdl:message>
  <wsdl:message name="IOtpService_AddDigitalFormWithDoubleOptin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalFormWithDoubleOptin" />
  </wsdl:message>
  <wsdl:message name="IOtpService_AddDigitalFormWithDoubleOptin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalFormWithDoubleOptinResponse" />
  </wsdl:message>
  <wsdl:message name="IOtpService_GetDigitalFormProof_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalFormProof" />
  </wsdl:message>
  <wsdl:message name="IOtpService_GetDigitalFormProof_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalFormProofResponse" />
  </wsdl:message>
  <wsdl:portType name="IOtpService">
    <wsdl:operation name="SendOtp">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtpService/SendOtp" message="tns:IOtpService_SendOtp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtpService/SendOtpResponse" message="tns:IOtpService_SendOtp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOtp">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtpService/CheckOtp" message="tns:IOtpService_CheckOtp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtpService/CheckOtpResponse" message="tns:IOtpService_CheckOtp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalFormWithDoubleOptin">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtpService/AddDigitalFormWithDoubleOptin" message="tns:IOtpService_AddDigitalFormWithDoubleOptin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtpService/AddDigitalFormWithDoubleOptinResponse" message="tns:IOtpService_AddDigitalFormWithDoubleOptin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDigitalFormProof">
      <wsdl:input wsaw:Action="http://tempuri.org/IOtpService/GetDigitalFormProof" message="tns:IOtpService_GetDigitalFormProof_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOtpService/GetDigitalFormProofResponse" message="tns:IOtpService_GetDigitalFormProof_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOtpService" type="tns:IOtpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendOtp">
      <soap:operation soapAction="http://tempuri.org/IOtpService/SendOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOtp">
      <soap:operation soapAction="http://tempuri.org/IOtpService/CheckOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalFormWithDoubleOptin">
      <soap:operation soapAction="http://tempuri.org/IOtpService/AddDigitalFormWithDoubleOptin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitalFormProof">
      <soap:operation soapAction="http://tempuri.org/IOtpService/GetDigitalFormProof" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IOtpService" type="tns:IOtpService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IOtpService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendOtp">
      <soap:operation soapAction="http://tempuri.org/IOtpService/SendOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOtp">
      <soap:operation soapAction="http://tempuri.org/IOtpService/CheckOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalFormWithDoubleOptin">
      <soap:operation soapAction="http://tempuri.org/IOtpService/AddDigitalFormWithDoubleOptin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitalFormProof">
      <soap:operation soapAction="http://tempuri.org/IOtpService/GetDigitalFormProof" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtpService">
    <wsdl:port name="BasicHttpBinding_IOtpService" binding="tns:BasicHttpBinding_IOtpService">
      <soap:address location="http://gdpr.dijitalizin.com/OtpService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IOtpService" binding="tns:BasicHttpsBinding_IOtpService">
      <soap:address location="https://gdpr.dijitalizin.com/OtpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>